



# =====================================
# Web Framework and Extensions
# =====================================
fastapi[all]
slowapi

# =====================================
# Data Validation and Serialization
# =====================================
pydantic[dotenv]

# =====================================
# Web Server
# =====================================
uvicorn

# =====================================
# Configuration Management
# =====================================
python-decouple
python-dotenv

# =====================================
# Database and ORM
# =====================================
SQLAlchemy
mysqlclient
PyMySQL
redis[hiredis]

# =====================================
# Password hashing
# =====================================
passlib
bcrypt


# =====================================
# Authentication and Authorization
# =====================================
python-jose[cryptography]
jwt
fastapi-jwt-auth


# =====================================
# Asynchronous Libraries
# =====================================
httpx
## aioredis

# =====================================
# Machine Learning and AI
# =====================================
transformers
xformers
torch
nltk

# =====================================
# Utilities
# =====================================
requests

# =====================================
# Testing
# =====================================
pytest
pytest-asyncio
pytest-mock
selenium
