<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Text Analysis</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>

<body class="body-class">

    <img src="/static/assets/logo.png" alt="Logo" class="logo">

    <h1 class="main-title">Text Analysis</h1>

    <form id="analysisForm" method="post" action="/analyze" class="text-analysis-form">
        <label for="text" class="text-label">Text to Analyze:</label><br>
        <textarea name="text" rows="4" cols="50" class="text-area"></textarea><br>

        <div class="checkbox-group">
            <input type="checkbox" name="sentiment" value="true" class="checkbox" checked> <span
                class="checkbox-label">Sentiment Analysis</span><br>
            <input type="checkbox" name="summary" value="true" class="checkbox" checked> <span
                class="checkbox-label">Summary</span><br>
            <input type="checkbox" name="keyword_extraction" value="true" class="checkbox"> <span
                class="checkbox-label">Keyword Extraction</span><br>
        </div>

        <input type="submit" value="Analyze" class="submit-button">
    </form>

    <div class="top-right">
        <button id="logout-button" class="logout-button">Logout</button>
    </div>
    <!-- Add this line to include your logout.js script -->
    <script src="/static/js/logout.js"></script>

    

    <div id="result" class="result">

        <p id="placeholder-text">Results here...</p>

        <script src="/static/js/textAnalysisFormHandler.js"></script>
    </div>

</body>

</html>