<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>
<body class="body-class">
    <img src="/static/assets/logo.png" alt="Logo" class="logo">

    <h1 class="main-title">Register</h1>
    
    <form id="register-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>

        <button type="submit" class="submit-button">Register</button>
    </form>

    <script src="/static/js/register.js"></script>
</body>
</html>
